<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NFServlet</servlet-name>
        <servlet-class>ProgramFiles.NFServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>ProgramFiles.MessageServlet</servlet-class>
    </servlet>
    
    
   <servlet>
        <servlet-name>addMemberServlet</servlet-name>
        <servlet-class>ProgramFiles.addMemberServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>NFLoginServlet</servlet-name>
        <servlet-class>ProgramFiles.NFLoginServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>NewsNetworkRequestServlet</servlet-name>
        <servlet-class>Servlets.NewsNetworkRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NAServlet</servlet-name>
        <servlet-class>ProgramFiles.NAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetServlet</servlet-name>
        <servlet-class>ProgramFiles.ResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet2</servlet-name>
        <servlet-class>ProgramFiles.LogoutServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NFServlet</servlet-name>
        <url-pattern>/NFServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>NFLoginServlet</servlet-name>
        <url-pattern>/NFLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsNetworkRequestServlet</servlet-name>
        <url-pattern>/NewsNetworkRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NAServlet</servlet-name>
        <url-pattern>/NAServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetServlet</servlet-name>
        <url-pattern>/ResetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet2</servlet-name>
        <url-pattern>/LogoutServlet2</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>addMemberServlet</servlet-name>
        <url-pattern>/addMemberServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
